.my-modal {
  position: absolute;
  top:10%;
  left:25%;
  height:50%;
  width: 50%;
}

.my-modal {
  z-index:101;
  background-color: white;
  border: 1px solid black;
  visibility: hidden;
  opacity: 0;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.my-modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
